<section class="sec z1" id="education" aria-labelledby="edu-title">
  <div class="wrap">
    <div class="shead reveal">
      <div class="slbl">// 03 &mdash; education</div>
      <h2 class="stitle" id="edu-title">{{education.heading}}</h2>
    </div>
    <div class="edu-scroll">
      <div class="egrid">
        {{#each education.entries}}
          <div class="ecard reveal">
            <div class="edeg">{{this.degree}}</div>
            <div class="ename">{{this.name}}</div>
            <div class="einst">{{this.institution}}</div>
            <div class="eperiod">
              <time datetime="{{this.startDatetime}}">{{this.startLabel}}</time>
              &mdash;
              <time datetime="{{this.endDatetime}}">{{this.endLabel}}</time>
            </div>
            <div class="etags">
              {{#each this.tags}}
                <span class="etag">{{this}}</span>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>