<div
  class="modal-bg"
  id="modal"
  role="dialog"
  aria-modal="true"
  aria-labelledby="modal-heading"
  onclick="bgClick(event)"
>
  <div class="modal">
    <div class="modal-bar">
      <div class="mac-btns">
        <div class="mb cl" onclick="closeModal()"></div>
        <div class="mb mn" onclick="closeModal()"></div>
        <div class="mb mx"></div>
      </div>
      <span class="modal-title">New Message &mdash; {{personal.name}}</span>
    </div>
    <div class="modal-body">
      <div id="fview">
        <div class="mhead">
          <h3 id="modal-heading">{{modal.heading}} &#128640;</h3>
          <p>{{modal.subheading}}</p>
        </div>
        <div class="frow2">
          <div class="fgrp">
            <label class="flbl" for="fn">First name</label>
            <input
              class="finp"
              type="text"
              id="fn"
              name="firstname"
              placeholder="{{modal.placeholderFirst}}"
              autocomplete="given-name"
            />
          </div>
          <div class="fgrp">
            <label class="flbl" for="ln">Last name</label>
            <input
              class="finp"
              type="text"
              id="ln"
              name="lastname"
              placeholder="{{modal.placeholderLast}}"
              autocomplete="family-name"
            />
          </div>
        </div>
        <div class="fgrp">
          <label class="flbl" for="em">Email</label>
          <input
            class="finp"
            type="email"
            id="em"
            name="email"
            placeholder="{{modal.placeholderEmail}}"
            autocomplete="email"
          />
        </div>
        <div class="fgrp">
          <label class="flbl" for="su">Subject</label>
          <input
            class="finp"
            type="text"
            id="su"
            name="subject"
            placeholder="{{modal.placeholderSubject}}"
          />
        </div>
        <div class="fgrp">
          <label class="flbl" for="ms">Message</label>
          <textarea
            class="finp"
            id="ms"
            name="message"
            rows="4"
            placeholder="{{modal.placeholderMessage}}"
          ></textarea>
        </div>
        <div class="mfooter">
          <button
            class="bcancel"
            onclick="closeModal()"
            type="button"
          >Cancel</button>
          <button class="bsend" onclick="sendMsg()" type="button">&#9993; Send
            Message</button>
        </div>
      </div>
      <div class="fsuccess" id="fsuc">
        <div class="ck">&#10004;&#65039;</div>
        <h4>{{modal.successTitle}}</h4>
        <p>{{modal.successMessage}}</p>
        <br />
        <button
          class="bcancel"
          style="margin:auto;display:block"
          onclick="closeModal()"
          type="button"
        >Close</button>
      </div>
    </div>
  </div>
</div>