<article class="premium-blog-card {{#if featured}}premium-blog-card--featured{{/if}}" data-category="{{category.slug}}">
  <a href="/blogs/{{#if slug}}{{slug}}{{else}}{{_id}}{{/if}}" class="premium-blog-card__link" aria-label="Read {{title}}"></a>

  <div class="premium-blog-card__content">
    <div class="premium-blog-card__top">
      <span class="premium-blog-card__category">
        {{category.icon}} {{category.label}}
      </span>
      {{#if featured}}
        <span class="premium-blog-card__badge">Featured</span>
      {{/if}}
    </div>

    <h3 class="premium-blog-card__title">{{title}}</h3>
    <p class="premium-blog-card__excerpt">{{excerpt}}</p>

    <div class="premium-blog-card__meta">
      <div class="premium-blog-card__meta-inner">
        <span>{{date}}</span>
        <span class="premium-blog-card__sep"></span>
        <span>{{readTime}}</span>
      </div>
    </div>
  </div>
</article>
