<div class="cert-list">
  {{#each certificates}}
  <article class="cert-card">
    <div class="cert-head">
      <div class="cert-title-wrap">
        <h3 class="cert-title">{{this.name}}</h3>
        <div class="cert-issuer">{{this.issuer}}</div>
      </div>
    </div>
    {{#if this.description}}
      <p class="cert-desc">{{this.description}}</p>
    {{/if}}
    {{#if this.tags}}
    <div class="cert-tags">
      {{#each this.tags}}
      <span class="cert-tag">{{this}}</span>
      {{/each}}
    </div>
    {{/if}}
    <div class="cert-meta">
      <span class="cert-date">{{this.issued}}</span>
      {{#if this.credentialUrl}}
        <a class="cert-link" href="{{this.credentialUrl}}" target="_blank" rel="noopener noreferrer">
          View <svg width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
        </a>
      {{/if}}
    </div>
  </article>
  {{/each}}
</div>
