<div class="journey__timeline">
  {{#each journey.steps}}
    <div class="journey__item">
      <div class="journey__left">
        <div class="journey__year">{{this.year}}</div>
        <div class="journey__dot"><div class="journey__dot-inner"></div></div>
      </div>

      <div class="journey__line-col"></div>

      <div class="journey__box">
        <div class="journey__box-top">
          <span class="journey__icon">{{this.icon}}</span>
          <span class="journey__tag">{{this.tag}}</span>
        </div>
        <h3 class="journey__box-title">{{this.title}}</h3>
        <p class="journey__box-desc">{{this.description}}</p>

        {{#if this.metrics}}
          <ul class="journey__metrics">
            {{#each this.metrics}}
              <li class="journey__metric">
                <span class="journey__metric-value">{{this.value}}</span>
                <span class="journey__metric-label">{{this.label}}</span>
              </li>
            {{/each}}
          </ul>
        {{/if}}

        {{#if this.skills}}
          <div class="journey__skills">
            {{#each this.skills}}
              <span class="journey__skill-tag">{{this}}</span>
            {{/each}}
          </div>
        {{/if}}
      </div>
    </div>
  {{/each}}

  <div class="journey__end">
    <div class="journey__end-dot"></div>
    <span class="journey__end-label">Present
      <span class="journey__cursor">|</span></span>
  </div>
</div>